<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>see</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>JSP/index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>br.edu.ifpi.see.listeners.IniciaBDListener</listener-class>
  </listener>
  <context-param>
    <param-name>app-name</param-name>
    <param-value>see</param-value>
  </context-param>
  <context-param>
    <param-name>debug</param-name>
    <param-value>false</param-value>
  </context-param>
  <filter>
    <display-name>	FiltroValidarLogin	</display-name>
    <filter-name>FiltroValidarLogin</filter-name>
    <filter-class>br.edu.ifpi.see.filtros.FiltroValidarLogin</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroValidarLogin</filter-name>
    <url-pattern>/ServletIndentificaUsuario</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>	FiltroGerenteCadastrado	</display-name>
    <filter-name>FiltroGerenteCadastrado</filter-name>
    <filter-class>br.edu.ifpi.see.filtros.FiltroGerenteCadastrado</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroGerenteCadastrado</filter-name>
    <url-pattern>/JSP/gerente/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>FiltroAdministradorCadastrado</display-name>
    <filter-name>FiltroAdministradorCadastrado</filter-name>
    <filter-class>br.edu.ifpi.see.filtros.FiltroAdministradorCadastrado</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroAdministradorCadastrado</filter-name>
    <url-pattern>/JSP/administrador/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>	ServletIndentificaUsuario	</display-name>
    <servlet-name>ServletIndentificaUsuario</servlet-name>
    <servlet-class>br.edu.ifpi.see.servlets.ServletIndentificaUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletIndentificaUsuario</servlet-name>
    <url-pattern>/ServletIndentificaUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletExcluirGerente</display-name>
    <servlet-name>ServletExcluirGerente</servlet-name>
    <servlet-class>br.edu.ifpi.see.servlets.ServletExcluirGerente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletExcluirGerente</servlet-name>
    <url-pattern>/ServletExcluirGerente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCadastroGerente</display-name>
    <servlet-name>ServletCadastroGerente</servlet-name>
    <servlet-class>br.edu.ifpi.see.servlets.ServletCadastroGerente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCadastroGerente</servlet-name>
    <url-pattern>/ServletCadastroGerente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAlterarGerente</display-name>
    <servlet-name>ServletAlterarGerente</servlet-name>
    <servlet-class>br.edu.ifpi.see.servlets.ServletAlterarGerente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAlterarGerente</servlet-name>
    <url-pattern>/ServletAlterarGerente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletExcluirSala</display-name>
    <servlet-name>ServletExcluirSala</servlet-name>
    <servlet-class>br.edu.ifpi.see.servlets.ServletExcluirSala</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletExcluirSala</servlet-name>
    <url-pattern>/ServletExcluirSala</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAlterarSala</display-name>
    <servlet-name>ServletAlterarSala</servlet-name>
    <servlet-class>br.edu.ifpi.see.servlets.ServletAlterarSala</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAlterarSala</servlet-name>
    <url-pattern>/ServletAlterarSala</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletLogout</display-name>
    <servlet-name>ServletLogout</servlet-name>
    <servlet-class>br.edu.ifpi.see.servlets.ServletLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogout</servlet-name>
    <url-pattern>/ServletLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDetalhesGerente</display-name>
    <servlet-name>ServletDetalhesGerente</servlet-name>
    <servlet-class>br.edu.ifpi.see.servlets.ServletDetalhesGerente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDetalhesGerente</servlet-name>
    <url-pattern>/ServletDetalhesGerente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAlterarAdministrador</display-name>
    <servlet-name>ServletAlterarAdministrador</servlet-name>
    <servlet-class>br.edu.ifpi.see.servlets.ServletAlterarAdministrador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAlterarAdministrador</servlet-name>
    <url-pattern>/ServletAlterarAdministrador</url-pattern>
  </servlet-mapping>
</web-app>