<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>see</display-name>
  <welcome-file-list>
    <welcome-file>JSP/index.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>br.edu.ifpi.see.listeners.IniciaBDListener</listener-class>
  </listener>
  <context-param>
    <param-name>app-name</param-name>
    <param-value>see</param-value>
  </context-param>
  <context-param>
    <param-name>debug</param-name>
    <param-value>false</param-value>
  </context-param>
  <filter>
    <display-name>FiltroValidarLogin</display-name>
    <filter-name>FiltroValidarLogin</filter-name>
    <filter-class>br.edu.ifpi.see.filtros.FiltroValidarLogin</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroValidarLogin</filter-name>
    <url-pattern>/ServletIndentificaUsuario</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>FiltroGerenteCadastrado</display-name>
    <filter-name>FiltroGerenteCadastrado</filter-name>
    <filter-class>br.edu.ifpi.see.filtros.FiltroGerenteCadastrado</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroGerenteCadastrado</filter-name>
    <url-pattern>/JSP/gerente/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>FiltroAdministradorCadastrado</display-name>
    <filter-name>FiltroAdministradorCadastrado</filter-name>
    <filter-class>br.edu.ifpi.see.filtros.FiltroAdministradorCadastrado</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroAdministradorCadastrado</filter-name>
    <url-pattern>/JSP/administrador/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ServletIndentificaUsuario</display-name>
    <servlet-name>ServletIndentificaUsuario</servlet-name>
    <servlet-class>br.edu.ifpi.see.servlets.ServletIndentificaUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletIndentificaUsuario</servlet-name>
    <url-pattern>/ServletIndentificaUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletExcluirGerente</display-name>
    <servlet-name>ServletExcluirGerente</servlet-name>
    <servlet-class>br.edu.ifpi.see.servlets.ServletExcluirGerente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletExcluirGerente</servlet-name>
    <url-pattern>/ServletExcluirGerente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCadastroGerente</display-name>
    <servlet-name>ServletCadastroGerente</servlet-name>
    <servlet-class>br.edu.ifpi.see.servlets.ServletCadastroGerente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCadastroGerente</servlet-name>
    <url-pattern>/ServletCadastroGerente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAlterarGerente</display-name>
    <servlet-name>ServletAlterarGerente</servlet-name>
    <servlet-class>br.edu.ifpi.see.servlets.ServletAlterarGerente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAlterarGerente</servlet-name>
    <url-pattern>/ServletAlterarGerente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletExcluirSala</display-name>
    <servlet-name>ServletExcluirSala</servlet-name>
    <servlet-class>br.edu.ifpi.see.servlets.ServletExcluirSala</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletExcluirSala</servlet-name>
    <url-pattern>/ServletExcluirSala</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAlterarSala</display-name>
    <servlet-name>ServletAlterarSala</servlet-name>
    <servlet-class>br.edu.ifpi.see.servlets.ServletAlterarSala</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAlterarSala</servlet-name>
    <url-pattern>/ServletAlterarSala</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletLogout</display-name>
    <servlet-name>ServletLogout</servlet-name>
    <servlet-class>br.edu.ifpi.see.servlets.ServletLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogout</servlet-name>
    <url-pattern>/ServletLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDetalhesGerente</display-name>
    <servlet-name>ServletDetalhesGerente</servlet-name>
    <servlet-class>br.edu.ifpi.see.servlets.ServletDetalhesGerente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDetalhesGerente</servlet-name>
    <url-pattern>/ServletDetalhesGerente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAlterarDadosAdministrador</display-name>
    <servlet-name>ServletAlterarDadosAdministrador</servlet-name>
    <servlet-class>br.edu.ifpi.see.servlets.ServletAlterarDadosAdministrador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAlterarDadosAdministrador</servlet-name>
    <url-pattern>/ServletAlterarDadosAdministrador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletMicroControlador</display-name>
    <servlet-name>ServletMicroControlador</servlet-name>
    <servlet-class>br.edu.ifpi.see.servlets.ServletMicroControlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMicroControlador</servlet-name>
    <url-pattern>/ServletMicroControlador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletSala</display-name>
    <servlet-name>ServletSala</servlet-name>
    <servlet-class>br.edu.ifpi.see.servlets.ServletSala</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSala</servlet-name>
    <url-pattern>/ServletSala</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCadastroSala</display-name>
    <servlet-name>ServletCadastroSala</servlet-name>
    <servlet-class>br.edu.ifpi.see.servlets.ServletCadastroSala</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCadastroSala</servlet-name>
    <url-pattern>/ServletCadastroSala</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAlterarDadosGerente</display-name>
    <servlet-name>ServletAlterarDadosGerente</servlet-name>
    <servlet-class>br.edu.ifpi.see.servlets.ServletAlterarDadosGerente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAlterarDadosGerente</servlet-name>
    <url-pattern>/ServletAlterarDadosGerente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAlterarSenhaAdministrador</display-name>
    <servlet-name>ServletAlterarSenhaAdministrador</servlet-name>
    <servlet-class>br.edu.ifpi.see.servlets.ServletAlterarSenhaAdministrador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAlterarSenhaAdministrador</servlet-name>
    <url-pattern>/ServletAlterarSenhaAdministrador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAlterarSenhaGerente</display-name>
    <servlet-name>ServletAlterarSenhaGerente</servlet-name>
    <servlet-class>br.edu.ifpi.see.servlets.ServletAlterarSenhaGerente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAlterarSenhaGerente</servlet-name>
    <url-pattern>/ServletAlterarSenhaGerente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletSalvarSala</display-name>
    <servlet-name>ServletSalvarSala</servlet-name>
    <servlet-class>br.edu.ifpi.see.servlets.ServletSalvarSala</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSalvarSala</servlet-name>
    <url-pattern>/ServletSalvarSala</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletSalvarMicroControlador</display-name>
    <servlet-name>ServletSalvarMicroControlador</servlet-name>
    <servlet-class>br.edu.ifpi.see.servlets.ServletSalvarMicroControlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSalvarMicroControlador</servlet-name>
    <url-pattern>/ServletSalvarMicroControlador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDetalhesSala</display-name>
    <servlet-name>ServletDetalhesSala</servlet-name>
    <servlet-class>br.edu.ifpi.see.servlets.ServletDetalhesSala</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDetalhesSala</servlet-name>
    <url-pattern>/ServletDetalhesSala</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>br.edu.ifpi.see.listeners.IniciaListaDeSalasListener</listener-class>
  </listener>
  <listener>
    <listener-class>br.edu.ifpi.see.listeners.IniciaRequestListener</listener-class>
  </listener>
  <listener>
    <listener-class>br.edu.ifpi.see.listeners.CarregaListaDeSalasListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>ServletAlterarMicroControlador</display-name>
    <servlet-name>ServletAlterarMicroControlador</servlet-name>
    <servlet-class>br.edu.ifpi.see.servlets.ServletAlterarMicroControlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAlterarMicroControlador</servlet-name>
    <url-pattern>/ServletAlterarMicroControlador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletConsultaHistoricoSala</display-name>
    <servlet-name>ServletConsultaHistoricoSala</servlet-name>
    <servlet-class>br.edu.ifpi.see.servlets.ServletConsultaHistoricoSala</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConsultaHistoricoSala</servlet-name>
    <url-pattern>/ServletConsultaHistoricoSala</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletConsultaHistoricoAtualSala</display-name>
    <servlet-name>ServletConsultaHistoricoAtualSala</servlet-name>
    <servlet-class>br.edu.ifpi.see.servlets.ServletConsultaHistoricoAtualSala</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConsultaHistoricoAtualSala</servlet-name>
    <url-pattern>/ServletConsultaHistoricoAtualSala</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletConsultaTempoConsumoAtualSala</display-name>
    <servlet-name>ServletConsultaTempoConsumoAtualSala</servlet-name>
    <servlet-class>br.edu.ifpi.see.servlets.ServletConsultaTempoConsumoAtualSala</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConsultaTempoConsumoAtualSala</servlet-name>
    <url-pattern>/ServletConsultaTempoConsumoAtualSala</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletConsultaTempoConsumoSala</display-name>
    <servlet-name>ServletConsultaTempoConsumoSala</servlet-name>
    <servlet-class>br.edu.ifpi.see.servlets.ServletConsultaTempoConsumoSala</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConsultaTempoConsumoSala</servlet-name>
    <url-pattern>/ServletConsultaTempoConsumoSala</url-pattern>
  </servlet-mapping>
</web-app>